@import '../src/main';
//变量的定义
#container {
  background: $color;
  width: 100px;
  //选择器的嵌套
  .box1 {
    width: 100px;
    height: 100px;
    a{
      color: red;
      //& 是对外面元素的引用
      &:hover{
        color: #ff66da;
      }
    }
    &-item{
      list-style: none;
    }
    // 属性的嵌套
    margin: {
      top:10px;
      bottom: 20px;
    };
    #{$student}{
      border: 1px solid red;
      color: #{$color};
    }
  }
  .box2 {
    @include box(red,100px)
  }
  .box3{
    @include aa()
  }
  .box4{
    @include aa($w:60px)
  }
  .box5 {
    @extend .box2;
    font-size: 14px;
  }
  .box6{

    width: 5px*20;
   // width: 20px+51px;
    height: percentage(200px/400px);
    &::after{
      //content: to_upper_case($str);
      //content: str-length($str);
      //content: str_index($str,'!'); 查看在的位置
      content:str_insert($str,'55',4)
    }
  }
  .box7 {
    color: $color;
    color: lighten($color,20%);//变浅
    color:darken($color,20%);//变深
    color: opacify($color,.2);//更不透明
    color:transparentize($color,.3)
  }
}